@charset "utf-8";

.banner{ 
    overflow: hidden; }

.banner .a{
     display: block; 
     position: relative; 
     z-index: 1;
      overflow: hidden; }

.banner .imgBox{
     overflow: hidden;
     width: 100%; 
     transform: scale(1);}

.banner .imgBox .img{ 
    padding-bottom: 100vh; 
    transition: 0s; 
    transform: scale(1) !important; }

.banner .imgBox img, .banner .imgBox video{
    position:absolute;
    top:0;
    right:0;bottom:0;
    left:0;
    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover;
    transition:.5s}

.banner .a .txt{
    position: absolute;
    left: 0;
    right:0;
    bottom: .98rem;
    z-index: 6}

.banner .a .txt h3
{font-size: .32rem;
    line-height: .4rem;
    text-align:center;
    color: #fff;
    font-family: 'sys';}
    
.banner .imgBox:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);z-index: 1;height: 23vh;}

.banner.on .swiper-slide-active .a .imgBox, .banner.on .swiper-slide-duplicate-active .a .imgBox, .banner.on .swiper-slide-prev .a .imgBox{ 
    animation: sca 7s linear 0s normal both;}
    
@keyframes sca {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.banner .page{font-size: 0;right:0;bottom: .6rem;z-index: 9}
.banner .page span{width: .14rem;height: .14rem;margin: 0 .12rem;opacity: .5;background: url("../images/dot.png") no-repeat 50%/100%}
.banner .page span.active{opacity: 1;}

.title001 {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title001 .tit h2{
    font-size: .36rem;
    line-height: 1;
    color: #00712f;
    font-family: 'SourceHanSansCN-Bold',sans-serif;
}
.title001 .tit h4 img{
    display: block;
    height: .08rem;
    margin-left: .1rem;
    margin-top: .03rem;
}
.title001 .tit h4{
    margin-top: .05rem;
    display: flex;
    align-items: center;
    font-size: .16rem;
    line-height: 1;
    color: #cbcbcb;
    font-family: 'SourceHanSansCN-Medium',sans-serif;
    text-transform: uppercase;
}
.title001 .more{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.title001 .more a{
    display: flex;
    align-items: center;
    font-size: .16rem;
    line-height: .24rem;
    color: #000000;
    transition: .5s;
}
.title001 .more a img{
    display: block;
    width: .24rem;
    margin-left: .05rem;
}
.title001 .more a:hover{
    color: #00712f;
}

.index-s1 .left{
    width: 62.75%;
    margin-top: .51rem;
}

.list_box1 li{
    width: 48%;
    border-bottom: 1px dashed rgba(181, 181, 181, 0.5);
}
.list_box1 li a{
    height: 1.33rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list_box1 li .pic{
    width: 1.6rem;
    height: .9rem;
    margin-right: .16rem;
    flex-shrink: 0;
}
.list_box1 li .txt{
    flex: 1;
}
.list_box1 li h3{
    font-size: .2rem;
    line-height: .3rem;
    color: #000000;
    height: .6rem;
    transition: .5s;
}
.list_box1 li time{
    display: block;
    font-size: .18rem;
    line-height: .24rem;
    color: #c7c7c7;
    margin-top: .06rem;
}
.list_box1 .a:hover {
        transform: translateY(-.03rem);
    }

.list_box1 li:hover h3{
    color: #00712f;  
   
    
}

.index-s1 .right{
    width: 33%;
    position: relative;
    z-index: 2;
    padding: .51rem 0 .23rem .51rem;
}

.list_box2 li a{
    display: block;
    /*padding: .18rem 0;*/
    padding: .02rem 0;
}
.list_box2 li .h5{

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
.list_box2 li .h5 span{
    display: block;
    font-size: .18rem;
    line-height: .26rem;
    font-family: 'SourceHanSansCN-Medium',sans-serif;
    color: #b29873;
    padding-left:23px;
    background:url(../images/f16.png) left center no-repeat;
}
.list_box2 li .h5 time{
    display: block;
    font-size: .14rem;
    /*    line-height: .26rem;*/
    line-height: .2rem;
    color: #c7c7c7;
}
.list_box2 li h3{
    /* margin-top: .05rem;*/
    font-size: .2rem;
    line-height: .3rem;
    color: #333333;
    height: .6rem;
    transition: .5s;
}
.list_box2 li {
    border-bottom: 1px dashed rgba(181, 181, 181, 0.5);
}
.list_box2 li:last-child{
    border-color: transparent;
}
.list_box2 li:hover h3{
    color: #00712f;
   
   
}
.list_box2 li:hover .h5{
    color: #b29873;
}
.list_box2{
    margin-top: .16rem;
}
.index-s1 .right:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: .06rem;
    background: #b29873;
    z-index: 2;
}
.index-s1 .right:after{
    position: absolute;
    content: '';
    left: 0;
    right: calc((100vw - 16rem ) / -2);
    top: 0;
    bottom: 0;
    background: #fff url("../images/s1-img-2.png") no-repeat bottom center/100% auto;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.13);
    z-index: -1;
}

.index-s2 .left{
    width: 2.66rem;
    margin-top: .29rem;
}
.index-s2 .title001 .more{
    position: static;
    transform: none;
    margin-top: .3rem;
}
.index-s2 .title001{
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.index-s2 .right{
    width: calc(100% - 2.66rem);
    position: relative;
}

.list1w a{
    display: block;
    position: relative;
    background:#fff url("../images/s2-img-2.png") no-repeat bottom right/100% auto;
}
.list1w a .img_hezi{
    padding-top: 2.38rem;
    background-color: #b29873;
}
.list1w a .img_zd{
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.list1w a .txt{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: .26rem .29rem .25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;
}
.list1w a h4{
    font-size: .18rem;
    line-height: .24rem;
    color: #b29873;
}
.list1w a h3{
    font-size: .2rem;
    line-height: .3rem;
    color: #000000;
    height: .6rem;
    margin: .08rem 0 .15rem;
}
.list1w a h5{
    font-size: .18rem;
    line-height: .28rem;
    color: #999999;
    padding-left: .28rem;
    background: no-repeat left center/ auto .15rem;
}
.list1w a h5.h51{
    background-image: url("../images/s2-img-3.png");
}
.list1w a h5.h52{
    background-image: url("../images/s2-img-4.png");
}
.list1w a h6{
    margin-top: .15rem;
    height: .09rem;
    background: url("../images/s2-img-7.png") no-repeat left center/auto 100%;
}
.list1w a .txt *{
    transition: .5s;
}
.list1w a:hover .img_zd{
    opacity: 1;
    visibility: visible;
}
.list1w a:hover h4,
.list1w a:hover h3,
.list1w a:hover h5{
    color: #fff;
}
.list1w a:hover h5.h51{
    background-image: url("../images/s2-img-5.png");
}
.list1w a:hover h5.h52{
    background-image: url("../images/s2-img-6.png");
}
.list1w a:hover h6{
    background-image: url("../images/s2-img-8.png");
}

.index-s2 .btn-box{
    position: absolute;
    bottom: .09rem;
    right: calc(100% + 1.44rem);
    width: 1.22rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.index-s2 .btn{
    position: static;
    width: .46rem;
    height: .46rem;
    border: 1px solid #b29873;
    border-radius: 50%;
    background: no-repeat 50%/.11rem;
    transform: none;
    transition: .5s;
}
.index-s2 .prev{
    background-image: url("../images/prev-1.png");
}
.index-s2 .next{
    background-image: url("../images/next-1.png");
}
.index-s2 .prev:hover{
    background-image: url("../images/prev-2.png");
}
.index-s2 .next:hover{
    background-image: url("../images/next-2.png");
}
.index-s2 .btn:hover{
    background-color: #b29873;
}

.list1w {
    width: 16.46rem;
    left: 0;
}

.index-s2{
    margin-top: .6rem;
}
.index-s3 .left{
    width: 65.625%;
}

.list_box3 li{
    width: 48.47%;
}

.list_box3 li a{
    display: block;
    background: #fff;
    box-shadow:  0 .05rem .1rem rgba(0, 0, 0, 0.13);
}
.list_box3 li a .pic{
    padding-top: 3.55rem;
}

.list_box3 li h3{
    font-size: .2rem;
    line-height: .3rem;
    color: #333333;
    height: .6rem;
    transition: .5s;
    font-family: 'SourceHanSansCN-Regular',sans-serif;
    
}
.list_box3 li p{
    font-size: .18rem;
    line-height: .24rem;
    color: #999999;
    height: .48rem;
    margin-top: .3rem;
}
.list_box3 li time{
    display: block;
    font-size: .2rem;
    line-height: .3rem;
    color: #c7c7c7;
    margin-top: .3rem;
}

.list_box3 li .txt:before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #00712f;
    transition: .5s;
}
.list_box3 li .txt{
    padding: .33rem .6rem .35rem .46rem;
    position: relative;
}

.list_box3 li:hover .txt:before{
    left: 0;
    width: 100%;
}
.list_box3 li:hover h3{
    color: #00712f;
   
    
}

.index-s3 .right{
    width: 31.875%;
    padding: .28rem .33rem .2rem;
    background: #fff;
    box-shadow:  0 .05rem .15rem rgba(0, 0, 0, 0.13);
}

.list_box4 li a{
    display: block;
    padding: .25rem 0 .3rem;
}
.list_box4 li h3{
    font-size: .2rem;
    line-height: .3rem;
    color: #333333;
    font-family: 'SourceHanSansCN-Regular',sans-serif;
    transition: .5s;
    
}
.list_box4 li p{
    margin-top: .1rem;
    font-size: .18rem;
    line-height: .24rem;
    color: #999999;
    height: .48rem;
}
.list_box4 li time{
    display: block;
    font-size: .18rem;
    line-height: .24rem;
    color: #c7c7c7;
    margin-top: .23rem;
}
.list_box4 li:hover h3{
    color: #00712f;
  
    
}

.list_box4 li{
    border-bottom: 1px dashed #e0e0e0;
}
.list_box4 li:last-child{
    border-color: transparent;
}

.index-s3 .content{
    margin-top: .51rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.index-s3 {
    margin-top: .8rem;
}

.home1{
    padding: .52rem 0 .82rem;
    background: url("../images/home-1.png") no-repeat top center/cover;
}

.index-s4 .left{
    width: 39.125%;
    z-index: 2;
    margin-top: .93rem;
}
.list_box5 li a{
    display: block;
    position: relative;
    z-index: 2;
    padding: .27rem 0;
    transition: .5s;
}
.list_box5 li time{
    display: block;
    font-size: .2rem;
    line-height: .3rem;
    color: #c7c7c7;
    transition: .5s;
}
.list_box5 li h3{
    margin-top: .11rem;
    font-size: .2rem;
    line-height: .36rem;
    color: #000000;
    height: .72rem;
    transition: .5s;
}
.list_box5 li a:before{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/s4-img-2.jpg") no-repeat 50%/100% 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.list_box5 li a:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: .1rem;
    height: 0;
    background: #b29873;
    transition: .5s;
    z-index: 1;
}
.list_box5 li{
    position: relative;
    transition: .5s;
}
.list_box5 li:not(:last-child){
    border-bottom: 1px dashed #d6d5d3;
}
.list_box5 li.active a:before{
    opacity: 1;
    visibility: visible;
}
.list_box5 li.active a:after{
    top: 0;
    height: 100%;
}
.list_box5 li.active a time{
    color: #fff;
}
.list_box5 li.active a h3{
    color: #fff;
}
.list_box5 li.active a{
    margin-right: -1.04rem;
    padding-left: .42rem;
    padding-right: .42rem;
}
.list_box5 li.active{
    border-color: transparent;
}
.index-s4 .right{
    width: 57.3125%;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.13);
}

.list2w a{
    display: block;
}
.list2w a .pic{
    padding-top: 5.95rem;
}

.index-s4 .content{
    margin-top: -.53rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.index-s4 .title001{
    width: 39.125%;
}

.index-s4{
    padding: .8rem 0 .81rem;
    background: url("../images/index-s4.jpg") no-repeat top center/cover;
}

.mt-list{
    position: absolute;
    right: 0;
    top: .06rem;
    display: flex;
    align-items: center;
}
.mt-list .li{
    position: relative;
    margin-left: .36rem;
}
.mt-list .li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: .48rem;
    height: .48rem;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    transition: .5s;
}
.mt-list .li a img{
    display: block;
    max-width: .26rem;
    max-height: .24rem;
}
.mt-list .li a .img-2{
    display: none;
}
.mt-list .li span{
    width: 1.5rem;
    position: absolute;
    top: calc(100% + .15rem);
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
    box-shadow: 0 0 8px rgba(0, 0, 0, .13);
    padding: .06rem;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
    display: flex;
    text-align: center;
    font-size: .14rem;
    color: #444;
}
.mt-list .li span:before {
    content: '';
    border: .08rem solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
}

.mt-list .li span img{
    display: block;
    width: 100%
}

.mt-list .li:hover span {
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.mt-list .li:nth-child(1):hover a{
    background: #00712f;
    border-color: #00712f;
}
.mt-list .li:nth-child(2):hover a{
    background: #cb0914;
    border-color: #cb0914;
}
.mt-list .li:nth-child(3):hover a{
    background: #010101;
    border-color: #010101;
}
.mt-list .li:hover a .img-2{
    display: block;
}
.mt-list .li:hover a .img-1{
    display: none;
}
.index-s5 .title001{
    max-width: 3.78rem;
}
.index-s5 .wp{
    position: relative;
}

.index-s5 .content a{
    display: block;
    position: relative;
}
.index-s5 .content a:after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 36%;
    background: linear-gradient( 360deg,rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}

.index-s5 .content a .txt{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 .3rem .4rem;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: .5s;
}
.index-s5 .content a .ico{
    width: .48rem;
    height: .48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .2rem;
    flex-shrink: 0;
}
.index-s5 .content a .ico img{
    display: block;
    width: 100%;
}

.index-s5 .content a h3{
    flex: 1;
    font-size: .24rem;
    line-height: .48rem;
    color: #fff;
}
.index-s5 .content a:hover .txt{
    bottom: .1rem;
}

.index-s5 .content .left{
    width: 49.27%;
}
.index-s5 .content .left a .pic{
    padding-top: 7.25rem;
}
.index-s5 .content .cen{
    width: 28.54%;
}
.index-s5 .content .cen a .pic{
    padding-top: 7.25rem;
}
.index-s5 .content .right{
    width: 20.42%;
}
.index-s5 .content .right a .pic{
    padding-top: 3.52rem;
}

.index-s5 .content .right a:last-child{
    margin-top: .21rem;
}

.index-s5 .content{
    margin-top: .44rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.index-s6 .left{
    width: 37.8125%;
    position: relative;
    z-index: 2;
    padding: .63rem .7rem .7rem 0;
}

.list_box6 li{
    position: relative;
    color: #fff;
    font-size: .2rem;
    line-height: .8rem;
    padding-left: .26rem;
    transition: .5s;
}
.list_box6 li:before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: .06rem;
    height: .06rem;
    background: #b29873;
    transform: translateY(-50%);
    transition: .5s;
}
.list_box6 li:hover{
    color: #b29873;
}

.list_box6{
    margin-top: .3rem;
}
.index-s6 .left .title001 .tit h2,
.index-s6 .left .title001 .more a{
    color: #fff;
}
.index-s6 .left .title001 .tit h4{
    color: rgba(255, 255, 255, 0.6);
}
.index-s6 .left:after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    left: calc((100vw - 16rem) /-2);
    background: url("../images/s6-img-1.png") no-repeat 50%/cover;
    z-index: -1;
}
.index-s6 .right{
    width: 57.5%;
    margin-top: .63rem;
}

.list_box7 ul{
    display: flex;
    flex-wrap: wrap;
}
.list_box7 li{
    position: relative;
    width: 19.57%;
    margin: .47rem 0 0 20.645%;
    border-bottom: 1px solid #d7d7d7;
}
.list_box7 li:nth-child(-n+3){
    margin-top: 0;
}
.list_box7 li:nth-child(3n+1){
    margin-left: 0;
}
.list_box7 li a{
    display: block;
    font-size: .2rem;
    line-height: .56rem;
    color: #333333;
    transition: .5s;
}
.list_box7 li:after{
    position: absolute;
    content: '';
    right: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background: #00712f;
    transition: .5s;
}
.list_box7 li:hover a{
    color: #00712f;
}
.list_box7 li:hover:after{
    left: 0;
    width: 100%;
}

.list_box7{
    margin-top: .5rem;
}

.index-s6{
    margin-top: .75rem;
}

.home2{
    padding-top: .79rem;
    background: url("../images/home-2.png") no-repeat bottom center/100% auto;
}

@media (max-width: 1199px) {
    .banner .imgBox .img{
        padding-bottom: 54vw;
    }
    .index-s1 .right:after{
        right: -15px;
    }
    .index-s6 .left:after{
        left: -15px;
    }
}
@media (max-width: 1025px) {
    .banner .a .txt h3{
        font-size: .24rem;
        line-height: .3rem;
        padding-right: 1rem;
    }
    .banner .a .txt{
        bottom: .2rem;
    }
    .banner .page{
        width: auto;
        left: auto;
        right: 15px;
        bottom: .26rem;
    }
    .banner .page span{
        margin: 0 0 0 .1rem;
    }
    .title001 .tit h2{
        font-size: .26rem;
    }
    .title001 .tit h4 img{
        height: .05rem;
    }
    .index-s1 .left{
        width: 100%;
        margin-top: 0;
    }
    .index-s1 .right{
        width: 100%;
        margin-top: .4rem;
        padding: .2rem 0 .2rem .1rem;
    }
    .index-s1 .right:after{
        left: -15px;
    }
    .index-s1 .right:before{
        left: -15px;
    }
    .list1w a .txt{
        padding: .2rem;
        justify-content: space-between;
    }
    .list1w{
        width: 100%;
    }
    .index-s2 .left{
        width: 2rem;
        margin-top: .15rem;
    }
    .index-s2 .right{
        width: calc(100% - 2rem);
    }
    .index-s2 .btn-box{
        right: calc(100% + 0.9rem);
        width: 1.1rem;
    }
    .index-s2{
        margin-top: .4rem;
    }
    .index-s3 .left{
        width: 100%;
    }
    .list_box3 li a .pic{
        padding-top: 69.74%;
    }
    .list_box3 li p{
        margin-top: .1rem;
    }
    .list_box3 li time{
        margin-top: .1rem;
    }
    .list_box3 li .txt{
        padding: .2rem;
    }
    .list_box3 li{
        width: 49%;
    }
    .index-s3 .right{
        width: 100%;
        margin-top: .4rem;
        padding: .2rem;
    }
    .list_box4 li a{
        padding: .15rem 0;
    }
    .list_box4 li time{
        margin-top: .1rem;
    }
    .index-s3 .content{
        margin-top: .26rem;
    }
    .index-s3{
        margin-top: .4rem;
    }
    .home1{
        padding: .4rem 0;
    }
    .index-s4 .title001{
        width: 100%;
    }
    .index-s4 .left{
        width: 100%;
        margin-top: .2rem;
    }
    .list_box5 li h3{
        margin-top: .05rem;
    }
    .list_box5 li a{
        padding: .15rem 0;
    }
    .list_box5 li a:after{
        width: .04rem;
    }
    .list_box5 li.active a{
        margin-right: 0;
        padding-left: .2rem;
        padding-right: .2rem;
    }
    .index-s4 .right{
        width: 100%;
    }
    .list2w a .pic{
        padding-top: 64.88%;
    }
    .index-s4 .content{
        margin-top: .26rem;
        flex-direction: column-reverse;
    }
    .index-s4{
        padding: .4rem 0;
    }
    .index-s5 .title001{
        max-width: none;
    }
    .mt-list{
        position: static;
        margin-top: .2rem;
        gap: .15rem .2rem;
        justify-content: center;
    }
    .mt-list .li{
        margin-left: 0;
    }
    .index-s5 .content .left{
        width: 100%;
    }
    .index-s5 .content .left a .pic{
        padding-top: 76.63%;
    }
    .index-s5 .content a .ico{
        width: .4rem;
        height: .4rem;
        margin-right: .1rem;
    }
    .index-s5 .content a h3{
        font-size: .2rem;
        line-height: .3rem;
    }
    .index-s5 .content a .txt{
        padding: 0 .15rem .15rem;
    }
    .index-s5 .content .cen{
        width: 49%;
    }
    .index-s5 .content .cen a .pic{
        padding-top: 58vw;
    }
    .index-s5 .content .right{
        width: 49%;
    }
    .index-s5 .content .right a .pic{
        padding-top: 28vw;
    }
    .index-s5 .content .right a:last-child{
        margin-top: 2vw;
    }
    .index-s5 .content{
        gap: 2vw 0;
        margin-top: .26rem;
    }
    .index-s6 .left{
        width: 100%;
        padding: .3rem 0 .2rem;
    }
    .index-s6 .left:after{
        right: -15px;
    }
    .list_box6 li{
        padding-left: .15rem;
        line-height: .5rem;
    }
    .list_box6{
        margin-top: .2rem;
    }
    .index-s6 .right{
        width: 100%;
        margin-top: .3rem;
        padding-bottom: .3rem;
    }
    .list_box7 li{
        width: 32%;
        margin: 0;
    }
    .list_box7 ul{
        gap: .15rem 2%;
    }
    .list_box7{
        margin-top: .2rem;
    }
    .index-s6{
        margin-top: .4rem;
    }
    .home2{
        padding-top: .4rem;
    }
}

@media (max-width: 769px) {
    .list_box1 li{
        width: 100%;
    }
    .list_box1 li a{
        height: 1.2rem;
    }
    .list_box1{
        margin-top: .2rem;
    }
    .index-s2 .left{
        width: 100%;
    }
    .index-s2 .title001 .more{
        position: absolute;
        margin-top: 0;
        transform: translateY(-50%);
    }
    .index-s2 .right{
        width: 100%;
        margin-top: .26rem;
    }
 .list1w a h4 {
  font-size: .16rem;
  line-height: .28rem;
}
    .list1w a h3{
       font-size: .18rem;
        margin: .05rem 0 .1rem;
        line-height: .25rem;
        height: .5rem;
    }
    .list1w a h5 {
  font-size: .16rem;
  line-height: .2rem;
}
    .list1w a .img_hezi {
        padding-top: 2.14rem;
    }
    .index-s2 .btn-box{
        position: static;
    }
    .index-s2 .btn{
        width: .4rem;
        height: .4rem;
        position: absolute;
        transform: translateY(-50%);
        z-index: 5;
    }
    .index-s2 .prev{
        left: -15px;
    }
    .index-s2 .next{
        right: -15px;
    }
}

@media (max-width: 481px) {
    .list_box3 li{
        width: 100%;
    }
    .list_box3 ul{
        gap: .25rem 0;
    }
    .index-s3 .right{
        margin-top: .25rem;
    }
    .index-s5 .content .cen{
        width: 100%;
    }
    .index-s5 .content .cen a .pic{
        padding-top: 108vw;
    }
    .index-s5 .content .right{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .index-s5 .content .right a{
        width: 49%;
    }
    .index-s5 .content .right a:last-child{
        margin-top: 0;
    }
    .index-s5 .content .right a .pic{
        padding-top: 44vw;
    }
    .index-s5 .content a .ico{
        width: .35rem;
        height: .35rem;
    }
    .index-s5 .content a h3{
        font-size: .18rem;
    }
    .list_box7 li{
        width: 49%;
    }
    .list_box7 li a{
        line-height: .46rem;
    }
}

/*2025-07-03*/

.list3w a{
    position: relative;
    display: block;
    transition: .5s;
}
.list3w a .pic{
    padding-top: 3.6rem;
}
.list3w a .txt{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    padding: .1rem;
    justify-content: space-between;
}
.list3w a h4 {
    font-size: .2rem;
    line-height: .35rem;
    color: #fff !important;
    font-family: 'sys';
    writing-mode: tb-rl;
    writing-mode: vertical-lr;
    max-height: 3.5rem;
    
}

.more3 {
    flex-direction: column;
    align-self: flex-end;
    align-items: center
}

.more3 span {
    font-size: .16rem;
    color: #fff;
    font-family: 'sys';
    writing-mode: tb-rl;
    margin:  0 0 .1rem
}
.more3 img{
    display: block;
    width: .22rem;
    transform: rotate(45deg);
}


.index-s7{
    margin-top: 1.5rem;
    margin-bottom: .7rem;
}

@media (max-width: 1025px) {
    .list3w a .pic{
        padding-top: 128.57%;
    }
    .list3w a{
        margin-top: .2rem;
    }
    .index-s7{
        margin-top: .4rem;
        margin-bottom: 0;
    }
}